<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_3_1.dtd">

<web-app>
	<context-param>
		<param-name>dbUrl</param-name>
		<param-value>dbUrl value</param-value>
	</context-param>

	<filter>
		<filter-name>LoggingF</filter-name>
		<filter-class>com.simplilearn.filters.LoggingFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>LoggingF</filter-name>
		<url-pattern>/hello</url-pattern>
	</filter-mapping>

</web-app>    